<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>MAIL_LIST</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>PREVIEW_LINES</string>
			<key>Key</key>
			<string>zero.mail.previewLines</string>
			<key>DefaultValue</key>
			<integer>2</integer>
			<key>Titles</key>
			<array>
				<string>PREVIEW_NONE</string>
				<string>PREVIEW_ONE</string>
				<string>PREVIEW_TWO</string>
				<string>PREVIEW_THREE</string>
				<string>PREVIEW_FOUR</string>
				<string>PREVIEW_FIVE</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>SHOW_ACCOUNT_ADDRESS</string>
			<key>Key</key>
			<string>zero.mail.showAccountAddress</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>READING</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>MARK_READ_ON_OPEN</string>
			<key>Key</key>
			<string>zero.mail.markReadOnOpen</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>CONFIRM_BEFORE_TRASH</string>
			<key>Key</key>
			<string>zero.mail.confirmBeforeTrash</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>NOTIFICATIONS</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>NOTIFICATION_PREVIEW</string>
			<key>Key</key>
			<string>zero.notifications.preview</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>NOTIFICATION_SOUND</string>
			<key>Key</key>
			<string>zero.notifications.sound</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>ABOUT</string>
			<key>FooterText</key>
			<string>ABOUT_FOOTER</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
